<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.remo.filemonitoring.mapper.HotelMapper">
    <select id="selectHotelByName" resultType="Hotel">
        select * from hotel where name = #{name}
    </select>
</mapper>